{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}
	<div class="main">
		<div class="row">
			<div class="annonce text-white col-md-5 offset-2">
				<h1 style="font-size: 50px;">Mackbook Pro</h1>
				<p style="font-size: 30px;">qui change la donne</p>
				<h5 style="font-size: 30px;">pour :
					<b>
						<span class="text-black" style="font-size: 40px;">
							400 000 kmf</span>
					</b>
				</h5>
				<div class="btn btn-outline-primary text-white mt-2">Acheter maintenant</div>
			</div>
			<div class="col-md-1 macbook">
				<img src="images/macbookPro.png" alt="mac" width="400" height="200">
			</div>
		</div>
	</div>
    {{ include('product/index.html.twig') }}

{% endblock %}
